/* Incidents */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
isolation: isolate;

position: relative;
width: 1512px;
height: 1129px;

background: #F5F7F9;


/* Header - TopAppBar */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 32px;
gap: 584.79px;

width: 1512px;
height: 64px;

background: rgba(248, 250, 252, 0.8);
box-shadow: 0px 20px 40px rgba(44, 47, 49, 0.06);
backdrop-filter: blur(12px);
/* Note: backdrop-filter has minimal browser support */

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 2;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 32px;

width: 82px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 82px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* NetPulse */

width: 82px;
height: 28px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
display: flex;
align-items: center;
letter-spacing: -0.5px;

color: #064E3B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

display: none;
width: 279.77px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 65px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Overview */

width: 65px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #047857;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 43.47px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 43.47px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 43.36px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 43.36px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 55.94px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 55.94px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 190px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 16px;
height: 16px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;

width: 38px;
height: 32px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 22px;
height: 16px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;

width: 32px;
height: 36px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Icon */

width: 16px;
height: 20px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 0px 8px;

width: 40px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 32px;
height: 32px;

background: #D9DDE0;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Administrator profile */

width: 32px;
max-width: 32px;
height: 32px;

background: url(.jpg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Aside - Slim Sidebar Rail */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 0px;

position: absolute;
width: 72px;
height: 758px;
left: 10px;
top: calc(50% - 758px/2 + 0.5px);

background: #F1F5F9;
border: 2px solid #E2E8F0;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Nav */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 12px;
gap: 8px;

width: 70px;
height: 587px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Link */

width: 46px;
height: 48px;

filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 18px;
height: 18px;
left: 12px;
top: calc(50% - 18px/2);



/* Icon */

width: 18px;
height: 18px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 63.55px;
height: 20px;
left: 52.02px;
top: calc(50% - 20px/2);

opacity: 0;


/* Text */

width: 63.55px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #047857;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

width: 46px;
height: 48px;

background: #FFFFFF;
border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 18.65px;
height: 19px;
left: 12px;
top: calc(50% - 19px/2);



/* Icon */

width: 18.65px;
height: 19px;

background: #047857;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 43.08px;
height: 20px;
left: 52.02px;
top: calc(50% - 20px/2);

opacity: 0;


/* Text */

width: 43.08px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

width: 46px;
height: 48px;

border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 18px;
height: 18px;
left: 12px;
top: calc(50% - 18px/2);



/* Icon */

width: 18px;
height: 18px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 42.59px;
height: 20px;
left: 52.02px;
top: calc(50% - 20px/2);

opacity: 0;


/* Text */

width: 42.59px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

width: 46px;
height: 48px;

border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 16px;
height: 20px;
left: 12px;
top: calc(50% - 20px/2);



/* Icon */

width: 16px;
height: 20px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 54.95px;
height: 20px;
left: 52.02px;
top: calc(50% - 20px/2);

opacity: 0;


/* Text */

width: 54.95px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

width: 46px;
height: 48px;

border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 18px;
height: 18px;
left: 12px;
top: calc(50% - 18px/2);



/* Icon */

width: 18px;
height: 18px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 32.3px;
height: 20px;
left: 52.02px;
top: calc(50% - 20px/2);

opacity: 0;


/* Text */

width: 32.3px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

width: 46px;
height: 48px;

border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 20.1px;
height: 20px;
left: 12px;
top: calc(50% - 20px/2);



/* Icon */

width: 20.1px;
height: 20px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 53.95px;
height: 20px;
left: 52.02px;
top: calc(50% - 20px/2);

opacity: 0;


/* Text */

width: 53.95px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* HorizontalBorder */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 12px 0px;
gap: 8px;

width: 70px;
height: 121px;

border-top: 1px solid rgba(226, 232, 240, 0.5);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Link */

width: 46px;
height: 48px;

border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 20px;
height: 20px;
left: 12px;
top: calc(50% - 20px/2);



/* Icon */

width: 20px;
height: 20px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 30.53px;
height: 20px;
left: 52.02px;
top: calc(50% - 20px/2);

opacity: 0;


/* Text */

width: 30.53px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

width: 46px;
height: 48px;

border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 18px;
height: 18px;
left: 12px;
top: calc(50% - 18px/2);



/* Icon */

width: 18px;
height: 18px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 46.16px;
height: 20px;
left: 52.02px;
top: calc(50% - 20px/2);

opacity: 0;


/* Text */

width: 46.16px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px 0px 0px 72px;

width: 1512px;
height: 1065px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Main Content Canvas */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 40px;
gap: 48px;

width: 1440px;
height: 1065px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Main Content Area */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 48px;

width: 1360px;
max-width: 1512px;
height: 871px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Header Section */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
padding: 0px;
gap: 329.76px;

width: 1264px;
height: 92px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 768px;
height: 92px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 479px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Incidents Management */

width: 532px;
height: 48px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 48px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
letter-spacing: -1.2px;

color: #2C2F31;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 768px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Real-time overview of network anomalies, device outages, and performance degradation. */

width: 768px;
height: 28px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
display: flex;
align-items: center;

color: #747779;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Overlay+Border */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 157px;
height: 38px;

background: rgba(255, 255, 255, 0.05);
border: 1px solid rgba(171, 173, 175, 0.1);
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Background */

width: 8px;
height: 8px;

background: #047857;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Updated 3s ago */

width: 107px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #747779;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Section - Summary Cards */

width: 1264px;
height: 178px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Critical Events */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 16px;

position: absolute;
height: 146px;
left: 322px;
right: 644px;
top: 16px;

background: #FFFFFF;
backdrop-filter: blur(12px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 32px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 250px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 132.83px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* LATENCY SPIKES */

width: 132.83px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 0.35px;
text-transform: uppercase;

color: #FEB64C;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 250px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 47 */

width: 250px;
height: 40px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */
display: flex;
align-items: center;

color: #FEB64C;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Warnings */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 16px;

position: absolute;
height: 146px;
left: 644px;
right: 322px;
top: 16px;

background: #FFFFFF;
backdrop-filter: blur(12px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 32px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 250px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 167px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* UNRESOLVED ISSUES */

width: 167px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 0.7px;
text-transform: uppercase;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 250px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 23 */

width: 250px;
height: 40px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* User Actions */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 16px;

position: absolute;
height: 146px;
left: 966px;
right: 0px;
top: 16px;

background: #FFFFFF;
border-radius: 32px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 250px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 185px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* SYSTEM SUCCESS RATE */

width: 185px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 0.35px;
text-transform: uppercase;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 250px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 99.8% */

width: 250px;
height: 40px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */
display: flex;
align-items: center;

color: #047857;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Total Logs */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 16px;

position: absolute;
height: 144px;
left: 0px;
right: 966px;
top: 16px;

background: #FFFFFF;
border-radius: 32px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 250px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 51.96px 0px 0px;

width: 216px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* DEVICE DOWN */

width: 164px;
height: 40px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
/* or 143% */
display: flex;
align-items: center;
letter-spacing: 0.35px;
text-transform: uppercase;

color: #B31B25;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 250px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 248 */

width: 250px;
height: 40px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */
display: flex;
align-items: center;

color: #B31B25;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Main Section & Sidebar */

width: 1264px;
height: 505px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Resolved Log Sidebar */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px 32px 1199px;

position: absolute;
height: 463px;
left: 864px;
right: 0px;
top: 0px;

background: #FFFFFF;
border-radius: 32px;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 32px;

width: 336px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 5.68434e-14px 0px 0px;
gap: 212.99px;

width: 336px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading 3 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 128.33px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 128.33px;
height: 28px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
display: flex;
align-items: center;

color: #2C2F31;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;

background: #595C5E;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 336px;
height: 260px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Log Item 1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 336px;
height: 76px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 4px 0px 0px;

width: 8px;
height: 76px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 8px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 4px;

width: 8px;
height: 10.8px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: -4.61853e-14px 0px;


/* Background */

width: 8px;
height: 6.8px;

background: #006947;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vertical Divider */

width: 1px;
height: 61.2px;

background: rgba(171, 173, 175, 0.2);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 16px;
gap: 4px;

width: 312px;
height: 76px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px 1.7053e-13px 0px 0px;
gap: 236.09px;

width: 312px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 57.61px;
height: 16px;

font-family: 'Liberation Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 47.64px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 312px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Database Sync Restored */

width: 312px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #2C2F31;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 312px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Resolved by Auto-healing Protocol X. */

width: 312px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Log Item 2 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 336px;
height: 76px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 4px 0px 0px;

width: 8px;
height: 76px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 8px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 4px;

width: 8px;
height: 10.8px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
margin: -4.61853e-14px 0px;


/* Background */

width: 8px;
height: 6.8px;

background: #006947;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vertical Divider */

width: 1px;
height: 61.2px;

background: rgba(171, 173, 175, 0.2);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 16px;
gap: 4px;

width: 312px;
height: 76px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 233.67px;

width: 312px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 57.61px;
height: 16px;

font-family: 'Liberation Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 50.06px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 312px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Bandwidth Limit Released */

width: 312px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #2C2F31;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 312px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Manual intervention by Operator J.Smith. */

width: 312px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Log Item 3 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 336px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 4px 0px 0px;

width: 8px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 8px;
height: 56px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Background */

width: 8px;
height: 8px;

background: #006947;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 312px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;


/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px;
gap: 244.64px;

width: 312px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 57.61px;
height: 16px;

font-family: 'Liberation Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 39.09px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 312px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Node Reboot Successful */

width: 312px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #2C2F31;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 312px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Scheduled maintenance task completed. */

width: 312px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px 0px 0px;

width: 336px;
height: 69px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* HorizontalBorder */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 16px 0px 0px;

width: 336px;
height: 37px;

border-top: 1px solid rgba(171, 173, 175, 0.15);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 112.05px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 112.05px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;

color: #006947;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Active Incidents Table */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;

position: absolute;
height: 463px;
left: 0px;
right: 432px;
top: 0px;

background: #EEF1F3;
border-radius: 32px;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 32px;

width: 768px;
height: 68px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 1.13687e-13px 0px 0px;
gap: 551.17px;

width: 768px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 187.69px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 187.69px;
height: 32px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #2C2F31;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 84.28px;
height: 36px;

background: #D9DDE0;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 10.5px;
height: 7px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 10.5px;
height: 7px;

background: #2C2F31;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 33.78px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;

color: #2C2F31;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 1211px;

width: 768px;
height: 1487.5px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Table */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 768px;
height: 276.5px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Header → Row */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 768px;
height: 34px;

border-bottom: 1px solid rgba(171, 173, 175, 0.15);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: -1px 0px;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 1px 1px 16px;

width: 82.97px;
height: 33px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* INCIDENT ID */

width: 78.78px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 0.6px;
text-transform: uppercase;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 1px 1px 16px;

width: 167px;
height: 33px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* DEVICE / NODE */

width: 96.33px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 0.6px;
text-transform: uppercase;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 1px 1px 16px;

width: 284.02px;
height: 33px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 94.53px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 0.6px;
text-transform: uppercase;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 1px 1px 16px;

width: 151.05px;
height: 33px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Text */

width: 49.61px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 0.6px;
text-transform: uppercase;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 1px 1px 16px;

width: 82.97px;
height: 33px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 1;


/* Text */

width: 66.56px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
text-align: right;
letter-spacing: 0.6px;
text-transform: uppercase;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Body */

width: 768px;
height: 243.5px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Row - Normal Item */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

position: absolute;
height: 62px;
left: 0px;
right: 0.34px;
top: 121px;

border-top: 1px solid rgba(171, 173, 175, 0.1);


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20.5px 16px;

width: 153.53px;
height: 61px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Text */

width: 67.22px;
height: 20px;

font-family: 'Liberation Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 16px 21px 1px;

width: 153.53px;
height: 61px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Text */

width: 147.94px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #2C2F31;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 16px 21px 1px;

width: 153.53px;
height: 61px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Text */

width: 156.3px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20.5px 16px 20.5px 1px;

width: 153.53px;
height: 61px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 2px 10px;

width: 93.61px;
height: 20px;

background: #D9DDE0;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 73.61px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 20.5px 1px;

width: 153.53px;
height: 61px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 1;


/* Text */

width: 50.42px;
height: 20px;

font-family: 'Liberation Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: right;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Row - Normal Item */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

position: absolute;
height: 61px;
left: 0px;
right: 0.34px;
top: 182px;

border-top: 1px solid rgba(171, 173, 175, 0.1);


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 16px;

width: 153.53px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Text */

width: 67.22px;
height: 20px;

font-family: 'Liberation Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 16px 20px 1px;

width: 153.53px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Text */

width: 146.42px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #2C2F31;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 16px 20px 1px;

width: 153.53px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 1;


/* Text */

width: 176.05px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 16px 20px 1px;

width: 153.53px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 1;


/* Overlay */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 2px 10px;

width: 111.73px;
height: 20px;

background: rgba(186, 211, 255, 0.3);
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 91.73px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #004F99;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 20px 1px;

width: 153.53px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 1;


/* Text */

width: 50.42px;
height: 20px;

font-family: 'Liberation Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: right;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Row - Critical Item */

position: absolute;
height: 61px;
left: 0px;
right: 0.34px;
top: 0px;

background: rgba(251, 81, 81, 0.05);


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 16px 21px 1px;

position: absolute;
height: 61px;
left: 117.59px;
right: 515.54px;
top: 0px;



/* Core Router Alpha-01 */

width: 154px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #2C2F31;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 16px 21px 1px;

position: absolute;
height: 61px;
left: 311.13px;
right: 231.51px;
top: 0px;



/* Text */

width: 139.3px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20.5px 16px 20.5px 1px;

position: absolute;
height: 61px;
left: 595.14px;
right: 80.47px;
top: 0px;



/* Overlay */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 2px 10px;

width: 60.56px;
height: 20px;

background: #B31B25;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Critical */

width: 40.56px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 20.5px 1px;

position: absolute;
height: 61px;
left: 746.19px;
right: 0px;
top: 0px;



/* Text */

width: 58.81px;
height: 20px;

font-family: 'Liberation Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: right;

color: #B31B25;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20.5px 33.37px 20.5px 17px;
isolation: isolate;

position: absolute;
height: 61px;
left: 0px;
right: 709.07px;
top: 0px;



/* Text */

width: 67.22px;
height: 20px;

font-family: 'Liberation Mono';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #B31B25;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Background */

position: absolute;
width: 4px;
left: 0px;
top: 0.5px;
bottom: 0.5px;

background: #B31B25;
border-radius: 0px 9999px 9999px 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Row - High Priority Item */

box-sizing: border-box;

position: absolute;
height: 61px;
left: 0px;
right: 0.34px;
top: 61px;

background: rgba(254, 182, 76, 0.05);
border-top: 1px solid rgba(171, 173, 175, 0.1);


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 16px 21px 1px;

position: absolute;
height: 61px;
left: 117.59px;
right: 515.54px;
top: 0px;



/* Text */

width: 100.16px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #2C2F31;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20px 16px 21px 1px;

position: absolute;
height: 61px;
left: 311.13px;
right: 231.51px;
top: 0px;



/* Text */

width: 225.05px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #595C5E;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20.5px 16px 20.5px 1px;

position: absolute;
height: 61px;
left: 595.14px;
right: 80.47px;
top: 0px;



/* Overlay */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 2px 10px;

width: 46.63px;
height: 20px;

background: #FEB64C;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* High */

width: 26.63px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 20.5px 1px;

position: absolute;
height: 61px;
left: 746.19px;
right: 0px;
top: 0px;



/* Text */

width: 50.42px;
height: 20px;

font-family: 'Liberation Mono';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: right;

color: #6F4700;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 20.5px 33.37px 20.5px 17px;
isolation: isolate;

position: absolute;
height: 61px;
left: 0px;
right: 709.07px;
top: 0px;



/* Text */

width: 67.22px;
height: 20px;

font-family: 'Liberation Mono';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #FEB64C;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Background */

position: absolute;
width: 4px;
left: 0px;
top: 0.5px;
bottom: 0.5px;

background: #FEB64C;
border-radius: 0px 9999px 9999px 0px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Global Footer Status Bar */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 24px 0px;
gap: 307.79px;

width: 1360px;
height: 66px;

border-top: 1px solid #E2E8F0;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 269px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* © 2026 NetPulse - Network Operations Center */

width: 269px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #94A3B8;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 532.94px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 1px;
gap: 8px;

width: 148.47px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Background */

width: 8px;
height: 8px;

background: #10B981;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 132.47px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #94A3B8;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 1px;
gap: 8px;

width: 134.13px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Background */

width: 8px;
height: 8px;

background: #10B981;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 118.13px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #94A3B8;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 80.42px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 80.42px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #CBD5E1;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 73.92px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 73.92px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #CBD5E1;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
