/* Logs */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
isolation: isolate;

position: relative;
width: 1512px;
height: 1253px;

background: #F5F7F9;


/* Header - TopAppBar */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 32px;
gap: 584.79px;

width: 1512px;
height: 64px;

background: rgba(248, 250, 252, 0.8);
box-shadow: 0px 20px 40px rgba(44, 47, 49, 0.06);
backdrop-filter: blur(12px);
/* Note: backdrop-filter has minimal browser support */

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 2;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 32px;

width: 82px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 82px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* NetPulse */

width: 82px;
height: 28px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
display: flex;
align-items: center;
letter-spacing: -0.5px;

color: #064E3B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 24px;

display: none;
width: 279.77px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 65px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Overview */

width: 65px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #047857;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 43.47px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 43.47px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 43.36px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 43.36px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 55.94px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 55.94px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 190px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;

width: 32px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 16px;
height: 16px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;

width: 38px;
height: 32px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 22px;
height: 16px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px;

width: 32px;
height: 36px;

border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Icon */

width: 16px;
height: 20px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 0px 8px;

width: 40px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 32px;
height: 32px;

background: #D9DDE0;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Administrator profile */

width: 32px;
max-width: 32px;
height: 32px;

background: url(.jpg);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Aside - Slim Sidebar Rail */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 0px;

position: absolute;
width: 72px;
height: 758px;
left: 10px;
top: calc(50% - 758px/2 + 0.5px);

background: #F1F5F9;
border: 2px solid #E2E8F0;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Nav */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 12px;
gap: 8px;

width: 70px;
height: 587px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Link */

width: 46px;
height: 48px;

filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.05));
border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 18px;
height: 18px;
left: 12px;
top: calc(50% - 18px/2);



/* Icon */

width: 18px;
height: 18px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 63.55px;
height: 20px;
left: 52.02px;
top: calc(50% - 20px/2);

opacity: 0;


/* Text */

width: 63.55px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #047857;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

width: 46px;
height: 48px;

background: #FFFFFF;
border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 18.65px;
height: 19px;
left: 12px;
top: calc(50% - 19px/2);



/* Icon */

width: 18.65px;
height: 19px;

background: #047857;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 43.08px;
height: 20px;
left: 52.02px;
top: calc(50% - 20px/2);

opacity: 0;


/* Text */

width: 43.08px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

width: 46px;
height: 48px;

border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 18px;
height: 18px;
left: 12px;
top: calc(50% - 18px/2);



/* Icon */

width: 18px;
height: 18px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 42.59px;
height: 20px;
left: 52.02px;
top: calc(50% - 20px/2);

opacity: 0;


/* Text */

width: 42.59px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

width: 46px;
height: 48px;

border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 16px;
height: 20px;
left: 12px;
top: calc(50% - 20px/2);



/* Icon */

width: 16px;
height: 20px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 54.95px;
height: 20px;
left: 52.02px;
top: calc(50% - 20px/2);

opacity: 0;


/* Text */

width: 54.95px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

width: 46px;
height: 48px;

border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 18px;
height: 18px;
left: 12px;
top: calc(50% - 18px/2);



/* Icon */

width: 18px;
height: 18px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 32.3px;
height: 20px;
left: 52.02px;
top: calc(50% - 20px/2);

opacity: 0;


/* Text */

width: 32.3px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

width: 46px;
height: 48px;

border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 20.1px;
height: 20px;
left: 12px;
top: calc(50% - 20px/2);



/* Icon */

width: 20.1px;
height: 20px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 53.95px;
height: 20px;
left: 52.02px;
top: calc(50% - 20px/2);

opacity: 0;


/* Text */

width: 53.95px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* HorizontalBorder */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 12px 0px;
gap: 8px;

width: 70px;
height: 121px;

border-top: 1px solid rgba(226, 232, 240, 0.5);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Link */

width: 46px;
height: 48px;

border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 20px;
height: 20px;
left: 12px;
top: calc(50% - 20px/2);



/* Icon */

width: 20px;
height: 20px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 30.53px;
height: 20px;
left: 52.02px;
top: calc(50% - 20px/2);

opacity: 0;


/* Text */

width: 30.53px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link */

width: 46px;
height: 48px;

border-radius: 48px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 18px;
height: 18px;
left: 12px;
top: calc(50% - 18px/2);



/* Icon */

width: 18px;
height: 18px;

background: #64748B;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 46.16px;
height: 20px;
left: 52.02px;
top: calc(50% - 20px/2);

opacity: 0;


/* Text */

width: 46.16px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #64748B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px 0px 0px 72px;

width: 1512px;
height: 1189px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Main Content Canvas */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 40px;
gap: 48px;

width: 1440px;
height: 1189px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Main Content Area */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 48px;

width: 1360px;
max-width: 1512px;
height: 995px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Header Section */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-end;
padding: 0px;
gap: 329.76px;

width: 1264px;
height: 92px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 479px;
height: 92px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 479px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Traffic Monitoring */

width: 479px;
height: 48px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 48px;
/* identical to box height, or 100% */
display: flex;
align-items: center;
letter-spacing: -1.2px;

color: #2C2F31;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 479px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Real-time analysis of network */

width: 461.47px;
height: 28px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
display: flex;
align-items: center;

color: #747779;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Overlay+Border */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 157px;
height: 38px;

background: rgba(255, 255, 255, 0.05);
border: 1px solid rgba(171, 173, 175, 0.1);
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Background */

width: 8px;
height: 8px;

background: #047857;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Updated 3s ago */

width: 107px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #747779;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Hero Row & Stats Grid */

width: 1264px;
height: 429px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Main Hero Card */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 32px;

position: absolute;
height: 428.5px;
left: 0px;
right: 432px;
top: 0px;

background: #FFFFFF;
border-radius: 32px;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 48px;

width: 768px;
height: 135.5px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: flex-start;
padding: 0px 1.13687e-13px 0px 0px;
gap: 524.71px;

width: 768px;
height: 87.5px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 7.5px;

width: 178.2px;
height: 87.5px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 178.2px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* TOTAL 24H BANDWIDTH */

width: 178.2px;
height: 20px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 1.4px;
text-transform: uppercase;

color: #2C2F31;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: baseline;
padding: 0px;
gap: 8px;

width: 178.2px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* 42.8 */

width: 127.69px;
height: 60px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 60px;
/* identical to box height, or 100% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* TB */

width: 30.06px;
height: 32px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 23.99px;

width: 162.26px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

width: 67.55px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 4px;

width: 53.92px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 53.92px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 9.33px;
height: 9.33px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 9.33px;
height: 9.33px;

background: #047857;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Upload */

width: 40.59px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 67.55px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 18.2 TB */

width: 67.55px;
height: 28px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;

width: 70.72px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 4px;

width: 70.19px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 4px;

width: 70.19px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 9.33px;
height: 9.33px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 9.33px;
height: 9.33px;

background: #FEB64C;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Download */

width: 56.86px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 70.72px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 24.6 TB */

width: 70.72px;
height: 28px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Abstract Chart Representation:margin */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
padding: 37px 0px 0px;

width: 768px;
height: 229px;
min-height: 192px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Abstract Chart Representation */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 768px;
height: 192px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* SVG */

width: 768px;
height: 192px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 11.72%;
bottom: 24.22%;

background: linear-gradient(180deg, rgba(16, 185, 129, 0.3) 0%, rgba(16, 185, 129, 0) 100.61%);


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 11.72%;
bottom: 29.95%;

border: 2.936px solid #10B981;
box-shadow: 0px 0px 8px #10B981;


/* Stats Column */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 32px;

position: absolute;
height: 421px;
left: 864px;
right: 0px;
top: 0px;



/* Latency Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 16px;

width: 400px;
height: 209px;

background: #FFFFFF;
border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 231.62px;

width: 352px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 147.02px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* NETWORK LATENCY */

width: 147.02px;
height: 20px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 1.4px;
text-transform: uppercase;

color: #2C2F31;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 20px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 20px;
height: 16px;

background: #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 352px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-end;
padding: 0px;
gap: 4px;

width: 352px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 24 */

width: 35.97px;
height: 36px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
/* identical to box height, or 120% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* ms */

width: 32px;
height: 28px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
display: flex;
align-items: center;

color: #2C2F31;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 352px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Average */

width: 352px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #2C2F31;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px 0px;

width: 352px;
height: 49px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* HorizontalBorder */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 16px 0.01px 0px 0px;
gap: 284.39px;

width: 352px;
height: 41px;

border-top: 1px solid rgba(0, 0, 0, 0.2);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 66.59px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Peak: 89ms */

width: 66.59px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #2C2F31;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Overlay */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 8px;

width: 54px;
height: 24px;

background: #064E3B;
border-radius: 6px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Stable */

width: 38px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Packet Loss Card */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 16px;

width: 400px;
height: 180px;

background: #FFFFFF;
border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 276.16px;

width: 352px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 102.48px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* PACKET LOSS */

width: 102.48px;
height: 20px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 1.4px;
text-transform: uppercase;

color: #2C2F31;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 22px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 22px;
height: 19px;

background: #B31B25;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 352px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Paragraph */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-end;
padding: 0px;
gap: 4px;

width: 352px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 0.02 */

width: 63.22px;
height: 36px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;
/* identical to box height, or 120% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* % */

width: 13.91px;
height: 28px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;
/* identical to box height, or 156% */
display: flex;
align-items: center;

color: #2C2F31;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 352px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Global Average */

width: 352px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #2C2F31;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 0px 0px;

width: 352px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Overlay */

width: 352px;
height: 4px;

background: rgba(0, 0, 0, 0.2);
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Background */

position: absolute;
left: 0%;
right: 98%;
top: 0px;
bottom: 0px;

background: #B31B25;
border-radius: 9999px;


/* Devices Table Section */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 32px;
gap: 24px;

width: 1264px;
height: 411.5px;

background: #FFFFFF;
border-radius: 32px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 1048.95px;

width: 1200px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Heading 3 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 206px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Top Busiest Devices */

width: 206px;
height: 28px;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 98.35px;
height: 36px;

background: #F5F7F9;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* View All */

width: 52.8px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 5.55px;
height: 9px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon */

width: 5.55px;
height: 9px;

background: #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Table */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 1200px;
height: 287.5px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Header → Row */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 1200px;
height: 49px;

border-bottom: 1px solid rgba(255, 255, 255, 0.05);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: -1px 0px;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

width: 121.3px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* DEVICE NAME */

width: 89.3px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 0.6px;
text-transform: uppercase;

color: #9A9D9F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

width: 216.83px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* IP ADDRESS */

width: 76.52px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 0.6px;
text-transform: uppercase;

color: #9A9D9F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

width: 287.98px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Text */

width: 65.84px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 0.6px;
text-transform: uppercase;

color: #9A9D9F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

width: 280.8px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Text */

width: 130.69px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 0.6px;
text-transform: uppercase;

color: #9A9D9F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Cell */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;

width: 97px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Text */

width: 50.03px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 0.6px;
text-transform: uppercase;

color: #9A9D9F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Body */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 1200px;
height: 239.5px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Row */

width: 1200px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 12px;

position: absolute;
width: 214.54px;
height: 52px;
left: calc(50% - 214.54px/2 - 492.73px);
top: 3.5px;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15.54px;
height: 15.83px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 15.54px;
height: 15.83px;

background: #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Core-Router-NYC-01 */

width: 155px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 22px 16px;

position: absolute;
height: 60px;
left: 351.98px;
right: 783.19px;
top: 0px;



/* Text */

width: 93.63px;
height: 16px;

font-family: 'Liberation Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 8px;

position: absolute;
height: 52px;
left: 568.81px;
right: 495.21px;
top: 7.5px;



/* Background */

width: 6px;
height: 6px;

background: #BAD3FF;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 91.22px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 19.5px 16px 20.5px;

position: absolute;
width: 75.56px;
height: 60px;
left: calc(50% - 75.56px/2 + 321.2px);
top: 0px;



/* Text */

width: 43.56px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 17px 16px;

position: absolute;
width: 110.2px;
height: 58px;
left: calc(50% - 110.2px/2 + 576.08px);
top: 3px;



/* Overlay+Border */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 10px;
gap: 6px;

width: 78.2px;
height: 24px;

background: #B31B25;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* High Load */

width: 58.2px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Row */

width: 1200px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 12px;

position: absolute;
height: 52px;
left: 0px;
right: 1000.02px;
top: 0.5px;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15px;
height: 15.83px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 15px;
height: 15.83px;

background: #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 135.77px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 22px 16px;

position: absolute;
height: 60px;
left: 351.98px;
right: 783.19px;
top: 0px;



/* Text */

width: 72.02px;
height: 16px;

font-family: 'Liberation Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 8px;

position: absolute;
height: 52px;
left: 568.81px;
right: 495.21px;
top: 7.5px;



/* Background */

width: 6px;
height: 6px;

background: #65F3B6;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 77.63px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 19.5px 16px 20.5px;

position: absolute;
height: 60px;
left: 856.8px;
right: 214.4px;
top: 0px;



/* Text */

width: 42.64px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 17px 16px;

position: absolute;
height: 58px;
left: 1137.59px;
right: 0px;
top: 0px;



/* Overlay+Border */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 10px;
gap: 6px;

width: 66px;
height: 24px;

background: #006947;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Active */

width: 46px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Row */

width: 1200px;
height: 60px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 12px;

position: absolute;
height: 52px;
left: 0px;
right: 1000.02px;
top: 0.5px;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15px;
height: 13.33px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 15px;
height: 13.33px;

background: #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 127.48px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 22px 16px;

position: absolute;
height: 60px;
left: 351.98px;
right: 783.19px;
top: 0px;



/* Text */

width: 79.22px;
height: 16px;

font-family: 'Liberation Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 8px;

position: absolute;
height: 52px;
left: 568.81px;
right: 495.21px;
top: 7.5px;



/* Background */

width: 6px;
height: 6px;

background: #FEB64C;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 64.92px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 19.5px 16px 20.5px;

position: absolute;
height: 60px;
left: 856.8px;
right: 214.4px;
top: 0px;



/* Text */

width: 39.23px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 17px 16px;

position: absolute;
height: 58px;
left: 1137.59px;
right: 0px;
top: 0px;



/* Overlay+Border */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 10px;
gap: 6px;

width: 56.17px;
height: 24px;

background: #006947;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 36.17px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Row */

width: 1200px;
height: 59.5px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 12px;

position: absolute;
height: 52px;
left: 0px;
right: 1000.02px;
top: 0.5px;



/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 15.54px;
height: 15.83px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 15.54px;
height: 15.83px;

background: #000000;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 136.11px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 22px 16px 21.5px;

position: absolute;
height: 59.5px;
left: 351.98px;
right: 783.19px;
top: 0px;



/* Text */

width: 79.22px;
height: 16px;

font-family: 'Liberation Mono';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 16px;
gap: 8px;

position: absolute;
height: 52px;
left: 568.81px;
right: 495.21px;
top: 7.5px;



/* Background */

width: 6px;
height: 6px;

background: #BAD3FF;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 120.86px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 19.5px 16px 20px;

position: absolute;
height: 59.5px;
left: 856.8px;
right: 214.4px;
top: 0px;



/* Text */

width: 42.86px;
height: 20px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Data */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 17px 16px 16.5px;

position: absolute;
height: 57.5px;
left: 1137.59px;
right: 0px;
top: 0px;



/* Overlay+Border */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 4px 10px;
gap: 6px;

width: 56.17px;
height: 24px;

background: #006947;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 36.17px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Global Footer Status Bar */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 24px 0px;
gap: 307.79px;

width: 1360px;
height: 66px;

border-top: 1px solid #E2E8F0;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 269px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* © 2026 NetPulse - Network Operations Center */

width: 269px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #94A3B8;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 32px;

width: 532.94px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 1px;
gap: 8px;

width: 148.47px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Background */

width: 8px;
height: 8px;

background: #10B981;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 132.47px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #94A3B8;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 0px 1px;
gap: 8px;

width: 134.13px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Background */

width: 8px;
height: 8px;

background: #10B981;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 118.13px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #94A3B8;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 80.42px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 80.42px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #CBD5E1;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 73.92px;
height: 17px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 73.92px;
height: 16px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #CBD5E1;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
